<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] </title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/cms/all.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/cms/jsgrid.min.css">
    <link rel="stylesheet" href="~/cms/jsgrid-theme.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/cms/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

    @RenderBody()

    <!-- jQuery -->
    <script src="~/cms/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/cms/bootstrap.bundle.min.js"></script>
    <!-- jsGrid -->
    <script src="~/cms/db.js"></script>
    <script src="~/cms/jsgrid.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/cms/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/cms/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#jsGrid1").jsGrid({
                height: "100%",
                width: "100%",

                sorting: true,
                paging: true,

                data: db.clients,

                fields: [
                    { name: "STT", type: "number", width: 50 },
                    { name: "Tiêu Đề", type: "text", width: 200 },
                    { name: "Nội dung", type: "text", width: 200 },
                    { name: "", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
                ]
            });
        });
    </script>
</body>
</html>

